@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Roboto+Mono&display=swap');
html,body {
  font-family: 'Roboto Mono', monospace;
}
.statusPanel {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 220px;
  max-width: 100%;
  padding: 15px;
  background: #fff;
  font-size: 12px;
  li {
    & + li {
      margin-top: .5em;
    }
  }
}

.controlPanel {
  position: absolute;
  bottom: 20px;
  right: 20px;
  max-width: calc(100% - 30px);
  padding: 15px;
  background: #fff;
  li {
   &:nth-child(n+2) {
      margin-top: 1em;
    }
  }
  .name {
    display: inline-block;
    margin-right: 1em;
    line-height: 26px;
    font-size: 12px;
    width: 3.5em;
  }
  input {
    display: none;
    &[type="radio"]:checked + label {
      background: lightblue;
      color: #fff;
      pointer-events: none;
    }
  }
  label {
    display: inline-block;
    padding: 0 .5em;
    background: #aaa;
    color: #333;
    line-height: 26px;
    font-size: 12px;
    font-weight: bold;
    width: 130px;
    max-width: 31vw;
    text-align: center;
    border-radius: 3px;
  }
}
