//- ページの設定
block pagedata

doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    meta(name="date" content=date)
    title #{title}
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet")
    link(rel='stylesheet' href="https://unpkg.com/destyle.css@3.0.2/destyle.min.css")
    block pagecss
    script(async src="https://ga.jspm.io/npm:es-module-shims@1.4.6/dist/es-module-shims.js")
    script(type="importmap").
      {
        "imports": {
          "three": "node_modules/three/build/three.module.js",
          "three/addons/": "node_modules/three/examples/jsm/",
          "@tweenjs/tween.js": "node_modules/@tweenjs/tween.js/dist/tween.esm.js"
        }
      }
    block pagejs

  body
    block main