extend ../../pug/parts/_layout.pug

append pagedata
  - var title = "Merry Christmas"
  - var date = "2022-12-23"

append pagecss
  link(rel='stylesheet' href="./dist/style.css")

append pagejs
  script(src="./dist/script.js" type="module")

block main
  #playButton
  #smoke
  canvas#webgl