extend _layout.pug

append pagedata
  - var cate = ""
  - var title = ""
  - var metadescription = ""

append pagecss

append pagejs
  script(src="./assets/js/script.js" type="module")

block main
  main
    include _task01

